.warp {
    display: flex;
    gap: 32px;
    margin-top: 32px;
    padding: 0 24px;
}

.photo {
    border-radius: 16px;
}

.loading {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    /*align-content: center;*/
    /*height: calc(100vh - 88px);*/
}