/*.title {*/
/*    font-size: 36px;*/
/*    border: 1px solid #111111;*/
/*    border-radius: 4px;*/
/*    text-align: center;*/
/*    padding: 16px 0;*/
/*}*/

/*.wrap {*/
/*    display: flex;*/
/*    gap: 32px;*/
/*    margin-top: 32px;*/
/*    padding: 0 24px;*/
/*}*/

/*.card {*/
/*    box-shadow: 0 0 15px -5px #bababa;*/
/*    border-radius: 16px;*/
/*}*/

/*.cardImg {*/
/*    margin-top: 8px;*/
/*    border-top: 1px solid #e0e0e0;*/
/*    padding: 0 16px;*/

/*}*/

/*.cardTitle {*/
/*    font-size: 20px;*/
/*    padding: 16px 16px 0;*/
/*    font-weight: bold;*/
/*}*/

/*.cardDate {*/
/*    font-size: 12px;*/
/*    padding: 0 16px;*/
/*    color: #777777;*/
/*}*/

/*.loading {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    padding-top: 100px;*/
/*    !*align-content: center;*!*/
/*    !*height: calc(100vh - 88px);*!*/
/*}*/

.title {
  font-size: 36px;
  border: 1px solid #111111;
  border-radius: 4px;
  text-align: center;
  padding: 16px 0;
}

.wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 32px;
  margin-top: 32px;
  margin-bottom: 32px;
  padding: 0 24px;
}

.card {
  box-shadow: 0 0 15px -5px #bababa;
  border-radius: 16px;
  width: auto;
  height: 400px; /* 固定高さ、適宜調整 */
}

.cardImg {
  width: 100%;
  height: 300px; /* 画像の高さを固定 */
  position: relative; /* next/image の position を relative にするため */
  border-top: 1px solid #e0e0e0;
  padding: 16px;
  margin-top: 8px;
}

.cardTitle {
  font-size: 20px;
  padding: 16px;
  font-weight: bold;
}

.cardDate {
  font-size: 12px;
  padding: 0 16px 16px;
  color: #777777;
}

.loading {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.btnWrap {
  text-align: right;
}
.uploadBtn {
  margin: 24px 24px;
}
